:root {
    --primary-color: #147ce4;
    --secondary-color: #0066cc;
    --accent1-color: #e6f2ff;
    --accent2-color: #344b9b;
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
.history-container,
.adventure-gallery,
footer {
    margin: 1rem auto;
    max-width: 960px;

    border: 1px solid rgba(251, 251, 251, 0.871);
    padding: 1rem;
    background-color: #3846b0;
    color: #eeeeee;
}

header {
    display: grid;
    grid-template-columns: 150px 1fr;

    align-items: center;
}

header img {
    width: 100px;
    height: auto;
    justify-self: start;
}

nav {
    display: center;
    justify-content: flex-end;

    gap: 2rem;

}

nav a {
    text-decoration: none;
    color: var(--primary-color);
    background-color: #fff;

    padding: 0.5rem 1.5rem;

    border: 1px solid #777;

    margin-left: -1px;

    font-weight: bold;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: var(--accent2-color);

    color: var(--accent1-color);
}

.hero {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 106.60%;
    background-color: rgba(38, 45, 83, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    background-color: var(--accent2-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--accent1-color);
}

.hero article img {
    width: 150px;
    margin-right: 15px;

}

.history h2 {
    text-align: center;
    margin: 2rem auto 0 auto;
    color: white;
    background-color: rgba(38, 45, 83, 0.8);
    width: 900px;
    max-width: 100%;
    padding: 15px;

}

.history-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 20px;
    align-items: center;
    text-align: left;
}

.history-container img {
    width: 100%;
    height: auto;
}

.adventures h2 {
    text-align: center;
    margin: 2rem auto 0 auto;
    color: white;
    background-color: rgba(38, 45, 83, 0.8);
    width: 900px;
    max-width: 100%;
    padding: 15px;
}

.adventure-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 15px;
}

.adventure-gallery figure {
    width: 150px;

    text-align: center;
}

.adventure-gallery img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.adventure-gallery figcaption {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socialmedia {
    display: flex;
    gap: 15px;
}

.socialmedia img {
    width: 30px;
}