:root {
    --primary-color: #055a05;

    --secondary-color: #f4a261;

    --accent1-color: #264653;

    --accent2-color: #e9c46a;

    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    max-width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-top: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 10px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent1-color);
    color: #fff;

    opacity: 0.9;
}

.hero article {
    position: absolute;

    top: 70%;
    left: 50px;
    right: 50px;
    background-color: var(--accent2-color);
    opacity: 0.9;
    padding: 10px;

    border: 1px solid var(--accent1-color);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;

}

section h2 {

    text-align: center;

    background-color: var(--accent1-color);

    color: #ffffff;

    padding: 15px 0;

    font-family: var(--heading-font);

    margin: 20px 0;

    font-size: 2rem;
}

section p {
    text-align: left;

    padding: 20px;
    line-height: 1.6;
}

.socialmedia img {

    width: 40px;

    margin: 0 10px;

    transition: transform 0.3s;
}

*/ .socialmedia img:hover {
    transform: scale(1.1);
}

.socialmedia {
    display: flex;
    justify-content: center;
    padding: 20px;
}